.footer {
  padding: toRem(24) 0 toRem(23) 0;
  width: 100%;
  background-color: #011689;
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_info {
    color: $white;
    font-size: toRem(21);
    line-height: 1.4;
    br {
      display: none;
    }
    span {
      font-size: 2rem;
    }
  }

  &_social {
    width: toRem(44);
    img {
      width: 100%;
    }
  }
}


@include responsive {
  .footer {
    padding-top: 3rem;
    padding-bottom: 4rem;
    &_wrapper {
      flex-direction: column;
    }

    &_info {
      text-align: center;
      font-size: 2.5rem;
      br {
        display: block;
      }
      p {

        font-size: 2.2rem;

      }
      span {
        display: block;
        font-size: 4.2rem;
      }
    }

    &_social {
      margin-top: 3rem;
      width: 4rem;
    }
  }
}