.footer {
  padding: toRem(24) 0 toRem(23) 0;
  width: 100%;
  background-color: #011689;
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_info {
    color: $white;
    font-size: toRem(21);
    line-height: 1.4;
    span {
      font-size: 2rem;
    }
  }

  &_social {
    width: toRem(44);
    img {
      width: 100%;
    }
  }
}