@use "sass:math";

@mixin responsive {
    @media only screen and (max-width: 720px) {
        @content;
    }
}

@mixin font($font: "default", $fsize: 0) {
    @if ($fsize != 0) {
        font-size: $fsize;
        line-height: 1.1em;
    }
    font-family: 'Inter-Bold', sans-serif;
}

@mixin button() {
    text-align: center;
    border: none;
    outline: none;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 1rem;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(510);
    height: toRem(87);
    padding: 1.1rem 1rem 1.1rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in;
    transform-origin: center center;

    background-color: $btn;
    border-radius: toRem(21);
    &:hover {
        background-color: $btn-hover;
        animation: hoverShine 200ms;
    }

    &:disabled {
        &:hover {
            animation: none;
        }
    }

    &:active {
        transform: scale(0.95);
    }
}

@mixin form-group() {

    position: relative;
    margin: 0 0 1.1rem 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
        position: relative;
        z-index: 10;
        display: block;
        text-align: left;
        outline: none;
        width: 20rem;
        border-radius: toRem(14);
        border: none;
        background: $white;
        @include font("Twix-Main", toRem(28));
        outline: none;
        padding: 0.7rem toRem(25) 0.5rem toRem(25);
        color: $brown;
        &::placeholder {
            @include font("Twix-Main", toRem(28));
            color: $brown;
        }
    }

    select {
        position: relative;
        z-index: 10;
        display: block;
        text-align: left;
        outline: none;
        width: 25rem;
        border-radius: toRem(17);
        border: toRem(2.5) solid $gold;
        background: rgba(255, 255, 255, 0);
        @include font("Cera-Pro-Bold", toRem(22));
        outline: none;
        padding: 0.7rem toRem(25) 0.7rem toRem(25);
        color: $white;
        appearance: none;
        -webkit-appearance: none;
        option {
            @include font("Cera-Pro-Bold", toRem(22));
            color: $white;
            background-color: $main;
            &:hover {
                background-color: $white;
                color: $main;
            }
        }

        &::placeholder,
        &:default,
        &:disabled {
            color: $gold;
        }
    }

    textarea {


        &::placeholder {
            color: $gold;
        }
    }

    .error-text {
        text-align: center;
            padding-top: 0.2rem;
            display: block;
            text-align: center;
            width: 90%;
        margin: 0 auto;
            @include font(Cera-Pro-Bold, toRem(15));
            color: $red;

    }

    .error {
        color: $red;
        position: relative;

        &::placeholder {
            color: $red;
        }
    }

    button {
        //display: block;
        //@include font("Cera-Pro-Bold", toRem(25));
        //color: $white;
        //background-color: $gold;
        //width: 100%;
        //height: auto;
        //padding: 0.9rem 3.2rem;
        //border-radius: 0.8em;
    }

    .btn {
        display: block;
        @include font("Twix-Main", toRem(32));
        color: $white;
        width: 100%;
        height: auto;
        padding: 0.5rem 2.1rem;
        min-width: fit-content;
        border-radius: 0.5em;
        &:hover {
            background-color: #b21115;
            box-shadow: none;
            border-color: rgba(255, 255, 255, 0);
        }
    }
}

@mixin link($font-size: 1rem, $font-family: MontBold) {
    @include font($font-family, $font-size);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        opacity: 0.8;
    }
}

@function toRem($number) {
    $result: math.div($number, 16);
    @return $result * 1rem;
}
