@use "sass:math";

@mixin responsive {
    @media only screen and (max-width: 720px) {
        @content;
    }
}

@mixin font($font: "default", $fsize: 0) {
    @if ($fsize != 0) {
        font-size: $fsize;
        line-height: 1.1em;
    }
    font-family: 'Inter-Bold', sans-serif;
}






@function toRem($number) {
    $result: math.div($number, 16);
    @return $result * 1rem;
}
