// Body

$main: #f9c883;
// Colors
$white: #ffffff;
$black: #000000;
$true_gray: #636363;
$gray: #626262;



$true_red: #fa011d;
$red: #e52122;
$btn: #e30f14;
$btn-hover: #a8161d;
$red2: #a70e13;
$red3: #c0181d;
$red-hover: #bd0f18;


$brown: #4c0901;
$true_brown: #500f04;


$blue: #25347a;
